.review {
    display: grid;
    grid-template-columns: [start] 30px 1fr auto [end];
    grid-template-areas:
        "logo title rating"
        "description description description"
        "hr hr hr";
    padding: 20px 30px;
    padding-bottom: 0px;
    gap: 10px;
    align-items: center;
}

.logo {
    grid-area: logo;
}

.title {
    grid-area: title;
}

.ratingBlock {
    grid-area: rating;
}

.ratingBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.description {
    grid-area: description;
}

.divider {
    grid-area: hr;
    margin-top: 10px;
}
.divider hr{
    background: var(--gray-light);
    height: 1px;
    border: none;
}
@media screen and (max-width: 1020px) {
    .review {
        display: grid;
        grid-template-columns: [start] 30px 1fr [end];
        grid-template-areas:
            "logo title"
            "rating rating"
            "description description"
            "hr hr";
        gap: 10px;
        align-items: center;
    }
    .ratingBlock {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
    }
    
}
@media screen and (max-width: 320px) {
    .review {
        grid-template-columns: [start] 1fr [end];
        grid-template-areas:
            "logo"
            "title"
            "rating"
            "description"
            "hr";
    }
    .ratingBlock {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
}