.titleBlock {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: start;
    gap: 20px;
    align-items: baseline;
}

.categoryHeader{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    gap: 20px;
    align-items: baseline;
}
.tags{
    margin-top: 15px;
}
.tagsBlock{
    margin-top: 30px;
}
.tag{
    margin-right: 10px;
    margin-top: 5px;
}
.seo h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    color: var(--black);
}

.seo h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--black);
}

.seo h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--black);
}
.seo p{
    color: var(--black);
}
.seo li{
    color: var(--black);
    margin-left: 20px;
}