.input {
    color: var(--black);
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 7px 12px;
    border: none;
    outline-color: var(--primary);
    width: 100%;
}

.input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--gray);
}

.error{
    border: 1px solid var(--red)
}