.wrapper {
    margin-bottom: 51px;
    margin-top: 29px;
}

.product {
    display: grid;
    grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratingstart] auto [end];
    padding: 30px;
}

.logo {
    grid-column: start / logoend;
    grid-row: span 3 / start;

    border-radius: 5px;
}

.title {
    grid-column: titlestart / middle;

    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--black);
    align-self: flex-start;
    margin-right: 3px;
}

.titleTags {
    grid-column: titlestart / middle;

    align-self: flex-start;
}

.titleTag {
    margin-right: 5px;
    margin-top: 2px;
}

.price {
    grid-column: middle / priceend;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    color: var(--black);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    white-space: nowrap;
    align-self: flex-end;
}

.priceTag {
    padding: 5px 8px;
}

.priceLabel {
    grid-column: middle / priceend;

    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.credit {
    grid-column: creditstart / creditend;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--black);
    align-self: flex-end;
    justify-self: flex-start;
    white-space: nowrap;
}

.credit>span {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.creditLabel {
    grid-column: creditstart / creditend;

    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.rating {
    grid-column: ratingstart / end;

    white-space: nowrap;
    align-self: flex-end;
}

.ratingCount {
    grid-column: ratingstart / end;

    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.hr {
    grid-column: start / end;

    margin-top: 18px;
    margin-bottom: 22px;
    background-color: var(--gray-light);

    border: none;
    height: 1px;

}

.description {
    grid-column: start / end;

    margin-bottom: 14px;
}

.features {
    grid-column: start / middle;

    margin-bottom: 14px;
}

.characteristic {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    align-items: baseline;
    margin-right: 60px;
    color: var(--black);
}

.ChName {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}

.ChValue {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.tag {
    margin-right: 7px;
    margin-top: 5px;
}

.divider {
    border-bottom: 1px dashed #C4C4C4;
}

.advBlock {
    grid-column: middle / end;
}

.advTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
    color: var(--black);
}

.advText {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
}

.advantages {
    border-left: 3px solid #1DC37E;
    border-radius: 2px;
    padding-left: 15px;
}

.disadvantages {
    border-left: 3px solid var(--red);
    border-radius: 2px;
    padding-left: 15px;
}

.buttons {
    grid-column: start / middle;
}

.buttons button {
    padding: 11px;
    margin-right: 20px;
}

.review{
    outline: none;
}

@media screen and (max-width: 1320px) {
    .product {
        grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
        grid-template-areas:
            "logo . title title title title title"
            "logo . titleTags titleTags titleTags titleTags titleTags"
            "price price price . credit . rating"
            "priceLabel priceLabel priceLabel . creditLabel . ratingLabel"
            "hr hr hr hr hr hr hr"
            "description description description description description description description"
            "features features features features features features features"
            "advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
            "hr2 hr2 hr2 hr2 hr2 hr2 hr2"
            "buttons buttons buttons buttons buttons buttons buttons"

        ;
    }

    .logo {
        grid-area: logo;
    }

    .title {
        grid-area: title;
    }

    .titleTags {
        grid-area: titleTags;
        align-self: center;
        margin-bottom: 5px;
    }

    .titleTag {
        margin-bottom: 5px;
    }

    .price {
        grid-area: price;

        margin-top: 10px;
    }

    .priceLabel {
        grid-area: priceLabel;
    }

    .priceTag {
        margin-left: 7px;
    }

    .credit {
        grid-area: credit;
    }

    .creditLabel {
        grid-area: creditLabel;
    }

    .rating {
        grid-area: rating;
    }

    .ratingCount {
        grid-area: ratingLabel;
    }

    .hr {
        grid-area: hr;
    }

    .description {
        grid-area: description;
    }

    .features {
        grid-area: features;
    }

    .advBlock {
        grid-area: advBlock;
    }

    .hr1 {
        grid-area: hr2;
    }

    .buttons {
        grid-area: buttons;
    }
}

@media screen and (max-width: 900px) {
    .product {
        grid-template-columns: 70px 30px auto;
        grid-template-areas:
            "logo . title"
            "logo . titleTags"
            "priceLabel . price"
            "creditLabel . credit"
            "ratingLabel . rating"
            "hr hr hr"
            "description description description"
            "features features features"
            "advBlock advBlock advBlock"
            "hr2 hr2 hr2"
            "buttons buttons buttons"

        ;
    }

    .logo {
        grid-area: logo;
    }

    .title {
        grid-area: title;
    }

    .titleTags {
        grid-area: titleTags;
        margin-bottom: 10px;
    }

    .price {
        grid-area: price;

        margin-top: 10px;
        align-self: flex-end;

        grid-template-columns: auto 1fr;
        justify-items: start;
    }

    .priceLabel {
        grid-area: priceLabel;

        align-self: flex-end;
    }

    .priceTag {
        margin-left: 7px;
    }

    .credit {
        grid-area: credit;
        margin-top: 7px;
        align-self: flex-end;
    }

    .creditLabel {
        grid-area: creditLabel;

        align-self: flex-end;
    }

    .rating {
        grid-area: rating;

        margin-top: 7px;
        align-self: flex-end;
    }

    .ratingCount {
        grid-area: ratingLabel;

        align-self: flex-end;
    }

    .hr {
        grid-area: hr;
    }

    .description {
        grid-area: description;
    }

    .features {
        grid-area: features;
    }

    .advBlock {
        grid-area: advBlock;
    }

    .hr1 {
        grid-area: hr2;
    }

    .buttons {
        grid-area: buttons;
    }
}

@media screen and (max-width: 375px) {
    .product {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "title"
            "titleTags"
            "price"
            "priceLabel"
            "credit"
            "creditLabel"
            "rating"
            "ratingLabel"
            "hr"
            "description"
            "features"
            "advBlock"
            "hr2"
            "buttons"

        ;
    }

    .logo {
        grid-area: logo;

        margin-bottom: 10px;
    }

    .title {
        grid-area: title;
    }

    .titleTags {
        grid-area: titleTags;
    }

    .price {
        grid-area: price;
    }

    .priceLabel {
        grid-area: priceLabel;
    }

    .credit {
        grid-area: credit;
    }

    .creditLabel {
        grid-area: creditLabel;
    }

    .rating {
        grid-area: rating;
    }

    .ratingCount {
        grid-area: ratingLabel;
    }

    .hr {
        grid-area: hr;
    }

    .description {
        grid-area: description;
    }

    .features {
        grid-area: features;
    }

    .characteristic {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        color: var(--black);
    }

    .characteristic .divider {
        order: 1;
        margin-top: 10px;
    }

    .advBlock {
        grid-area: advBlock;
    }

    .hr1 {
        grid-area: hr2;
    }

    .buttons {
        grid-area: buttons;
    }

    .buttons>button:first-child {
        margin-bottom: 5px;
    }
}

.ratingCount a {
    color: var(--primary);
}