.tag {
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
}

.small {
    padding: 5px 12px;
    font-size: 12px;
    line-height: 12px;
}

.large {
    padding: 5px 10px;
    height: 22px;
    font-size: 14px;
    line-height: 14px;
}

.ghost {
    border: 1px solid var(--gray-light);
    font-weight: 500;
    background: none;
}

.green {
    font-weight: 700;
    color: var(--green);
    background: var(--green-light);
}

.red {
    font-weight: 600;
    color: var(--white);
    background: #DE0000;
}

.grey {
    font-weight: 600;
    color: var(--white);
    background: #B3C0D9;
}

.primary {
    border: 1px solid var(--primary);
    font-weight: 500;
    color: var(--primary);
    background: none;
}