.reviewForm {
    padding: 30px;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:
        "name title rate"
        "description description description"
        "submit submit submit";
    gap: 20px 30px;
}

.name {
    grid-area: name;
}

.title {
    grid-area: title;
}

.rate {
    grid-area: rate;
    justify-self: end;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.description {
    grid-area: description;

}

.description textarea {
    min-height: 76px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.submit {
    grid-area: submit;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.submitButton {
    padding: 11px 37px;
    margin-right: 13px;
}

@media screen and (max-width:1160px) {
    .reviewForm {
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "name title"
            "rate rate"
            "description description"
            "submit submit";
        gap: 20px 30px;
    }

    .rate {
        justify-self: start;
    }

    .submit {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
            "button ."
            "label label";
        gap: 5px;
    }

    .submitButton {
        grid-area: button;
    }

    .submitLabel {
        grid-area: label;
    }
}

@media screen and (max-width: 920px) {
    .reviewForm {
        grid-template-columns: 1fr;
        grid-template-areas:
            "name"
            "title"
            "rate"
            "description"
            "submit";
        gap: 20px 30px;
    }

    .rate {
        justify-self: start;
    }

    .submit {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "button ."
            "label label";
        gap: 5px;
    }

    .submitButton {
        grid-area: button;
    }

    .submitLabel {
        grid-area: label;
    }
}

.errorMessage {
    color: var(--red);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    position: absolute;
    left: 0px;
    top: 92%;
}

.formField {
    position: relative;
}

.submitField {
    background: var(--green-light);
    padding: 30px;
    position: relative;
}

.submitMessage {
    color: var(--green);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.close{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.hide{
    overflow: hidden;
    max-height: 0;
    padding: 0;
}