* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--back-col);
  font-family:'Noto Sans', Times, serif;
}
a{
  text-decoration: none;
  color: var(--black);  
}
:root{
  --primary: #6d4de8;
  --primary-hover: #5832ee;
  --black: #3B434E;
  --white: white;
  --green-light: #C8F8E4;
  --green: #004a2b;
  --red: #FC836D;
  --red-light: #faa697;
  --back-col: #ececec;
  --gray-light: #EBEBEB;
  --gray-dark: #666a71;
  --gray: #A4A4A4;
  --font-family: 'Noto Sans', Times, serif;
}
